@page
@using ProjectManagement.Entities.Enums
@model ProjectManagement.Pages.Users.Edit

@{
    ViewData["Title"] = "Users | Edit";
}

<h1>@ViewData["Title"]</h1>

<partial name="~/Areas/Identity/Pages/Account/_StatusMessage.cshtml" for="StatusMessage" />
<form id="edit-form" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="form-floating">
                <input asp-for="Input.FirstName" class="form-control" autocomplete="first-name" aria-required="true" />
                <label asp-for="Input.FirstName"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.LastName" class="form-control" autocomplete="last-name" aria-required="true" />
                <label asp-for="Input.LastName"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.UserName" class="form-control" autocomplete="user-name" aria-required="true" />
                <label asp-for="Input.UserName"></label>
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <select class="form-select" name="Input.Role">
                @foreach (var role in Enum.GetNames(typeof(Roles)))
                {
                <option value="@role" selected="@(role == Model.Input.Role)">@role</option>
                }
            </select>
            <span asp-validation-for="Input.Role" class="text-danger"></span>
        </div>
        <button id="update-user-button" type="submit" class="w-100 btn btn-lg btn-warning mt-3">Update</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
